@mixin flex ($jc: space-between, $ai: center, $wrap: no-wrap)

{
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $wrap;
}
@mixin res($min, $max)
{
  @media (min-width: $min) and (max-width: $max){
    @content;
  }
}