.navbar-expand-lg .navbar-nav .nav-link
{
    padding: 15px;
    color: rgb(47, 29, 161);
    text-transform: uppercase;
    font-weight: bold;
}
footer{
    background: blue;
    padding: 40px 0px;
    color:#fff;
    text-align: center;
}